Repository chriscarterus/bookman-ai-agent-vmx1sz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @frontend-team, @backend-team, @devops-team, @security-team, @data-science-team, @content-team, @database-team

.github/CODEOWNERS:

* @project-leads

# Frontend application ownership
src/web/ @frontend-team

# Backend service ownership with specific team requirements
src/backend/ @backend-team @devops-team

# Authentication service with mandatory security review
src/backend/auth-service/ @security-team @backend-team

# Security service with strict review requirements
src/backend/security-service/ @security-team @backend-team

# Market analysis and ML services
src/backend/market-analysis/ @data-science-team @backend-team

# Portfolio service with security oversight
src/backend/portfolio-service/ @backend-team @security-team

# Education service with content team involvement
src/backend/education-service/ @backend-team @content-team

# ML model configurations and training
src/backend/ml-models/ @data-science-team @backend-team

# Database migrations requiring security review
src/backend/db/migrations/ @database-team @backend-team @security-team

# Infrastructure configurations
infrastructure/ @devops-team @security-team

# Security-specific infrastructure
infrastructure/security/ @security-team @devops-team

# CI/CD workflow configurations
.github/workflows/ @devops-team @security-team

# Application configuration files
config/ @devops-team @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/README.md
  src/backend/README.md
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/package.json
  src/backend/package.json
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/tslint.json
  src/backend/tslint.json
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/api-gateway/kong.yml
  src/backend/api-gateway/kong.yml
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/api-gateway/plugins.yml
  src/backend/api-gateway/plugins.yml
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/api-gateway/routes.yml
  src/backend/api-gateway/routes.yml
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/api-gateway/certificates/README.md
  src/backend/api-gateway/certificates/README.md
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/auth-service/Dockerfile
  src/backend/auth-service/Dockerfile
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/auth-service/package.json
  src/backend/auth-service/package.json
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/auth-service/tsconfig.json
  src/backend/auth-service/tsconfig.json
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/auth-service/src/index.ts
  src/backend/auth-service/src/index.ts
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/auth-service/src/config/index.ts
  src/backend/auth-service/src/config/index.ts
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/auth-service/src/controllers/auth.controller.ts
  src/backend/auth-service/src/controllers/auth.controller.ts
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/auth-service/src/middleware/jwt.middleware.ts
  src/backend/auth-service/src/middleware/jwt.middleware.ts
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/auth-service/src/models/user.model.ts
  src/backend/auth-service/src/models/user.model.ts
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/auth-service/src/routes/auth.routes.ts
  src/backend/auth-service/src/routes/auth.routes.ts
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/auth-service/src/services/auth.service.ts
  src/backend/auth-service/src/services/auth.service.ts
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/auth-service/src/utils/jwt.utils.ts
  src/backend/auth-service/src/utils/jwt.utils.ts
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/auth-service/tests/auth.test.ts
  src/backend/auth-service/tests/auth.test.ts
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/community-service/Dockerfile
  src/backend/community-service/Dockerfile
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/community-service/package.json
  src/backend/community-service/package.json
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/community-service/tsconfig.json
  src/backend/community-service/tsconfig.json
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/community-service/src/index.ts
  src/backend/community-service/src/index.ts
Owners: @backend-team, @devops-team
