Repository chriscarterus/bookman-ai-agent-vmx1sz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @frontend-team, @backend-team, @devops-team, @security-team, @data-science-team, @content-team, @database-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/community-service/src/config/index.ts
  src/backend/community-service/src/config/index.ts
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/community-service/src/controllers/forum.controller.ts
  src/backend/community-service/src/controllers/forum.controller.ts
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/community-service/src/models/post.model.ts
  src/backend/community-service/src/models/post.model.ts
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/community-service/src/routes/forum.routes.ts
  src/backend/community-service/src/routes/forum.routes.ts
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/community-service/src/services/notification.service.ts
  src/backend/community-service/src/services/notification.service.ts
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/community-service/tests/forum.test.ts
  src/backend/community-service/tests/forum.test.ts
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/db/migrations/001_init.sql
  src/backend/db/migrations/001_init.sql
Owners: @database-team, @backend-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/db/migrations/002_user_tables.sql
  src/backend/db/migrations/002_user_tables.sql
Owners: @database-team, @backend-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/db/migrations/003_portfolio_tables.sql
  src/backend/db/migrations/003_portfolio_tables.sql
Owners: @database-team, @backend-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/db/migrations/004_market_tables.sql
  src/backend/db/migrations/004_market_tables.sql
Owners: @database-team, @backend-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/db/migrations/005_education_tables.sql
  src/backend/db/migrations/005_education_tables.sql
Owners: @database-team, @backend-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/db/migrations/006_security_tables.sql
  src/backend/db/migrations/006_security_tables.sql
Owners: @database-team, @backend-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/db/migrations/007_community_tables.sql
  src/backend/db/migrations/007_community_tables.sql
Owners: @database-team, @backend-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/education-service/Dockerfile
  src/backend/education-service/Dockerfile
Owners: @backend-team, @content-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/education-service/pyproject.toml
  src/backend/education-service/pyproject.toml
Owners: @backend-team, @content-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/education-service/requirements.txt
  src/backend/education-service/requirements.txt
Owners: @backend-team, @content-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/education-service/src/config.py
  src/backend/education-service/src/config.py
Owners: @backend-team, @content-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/education-service/src/main.py
  src/backend/education-service/src/main.py
Owners: @backend-team, @content-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/education-service/src/models/course.py
  src/backend/education-service/src/models/course.py
Owners: @backend-team, @content-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/education-service/src/models/progress.py
  src/backend/education-service/src/models/progress.py
Owners: @backend-team, @content-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/education-service/src/routes/courses.py
  src/backend/education-service/src/routes/courses.py
Owners: @backend-team, @content-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/education-service/src/services/learning_path.py
  src/backend/education-service/src/services/learning_path.py
Owners: @backend-team, @content-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/education-service/src/utils/ai_content.py
  src/backend/education-service/src/utils/ai_content.py
Owners: @backend-team, @content-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/education-service/tests/test_courses.py
  src/backend/education-service/tests/test_courses.py
Owners: @backend-team, @content-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/k8s/api-gateway.yaml
  src/backend/k8s/api-gateway.yaml
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/k8s/auth-service.yaml
  src/backend/k8s/auth-service.yaml
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/k8s/community-service.yaml
  src/backend/k8s/community-service.yaml
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/k8s/configmaps.yaml
  src/backend/k8s/configmaps.yaml
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/k8s/education-service.yaml
  src/backend/k8s/education-service.yaml
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/k8s/ingress.yaml
  src/backend/k8s/ingress.yaml
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/k8s/market-analysis.yaml
  src/backend/k8s/market-analysis.yaml
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/k8s/portfolio-service.yaml
  src/backend/k8s/portfolio-service.yaml
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/k8s/secrets.yaml
  src/backend/k8s/secrets.yaml
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/k8s/security-service.yaml
  src/backend/k8s/security-service.yaml
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/k8s/service-mesh.yaml
  src/backend/k8s/service-mesh.yaml
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/market-analysis/Dockerfile
  src/backend/market-analysis/Dockerfile
Owners: @data-science-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/market-analysis/requirements.txt
  src/backend/market-analysis/requirements.txt
Owners: @data-science-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/market-analysis/src/config.py
  src/backend/market-analysis/src/config.py
Owners: @data-science-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/market-analysis/src/main.py
  src/backend/market-analysis/src/main.py
Owners: @data-science-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/market-analysis/src/ml/model.py
  src/backend/market-analysis/src/ml/model.py
Owners: @data-science-team, @backend-team

.github/CODEOWNERS:

* @project-leads

# Frontend application ownership
src/web/ @frontend-team

# Backend service ownership with specific team requirements
src/backend/ @backend-team @devops-team

# Authentication service with mandatory security review
src/backend/auth-service/ @security-team @backend-team

# Security service with strict review requirements
src/backend/security-service/ @security-team @backend-team

# Market analysis and ML services
src/backend/market-analysis/ @data-science-team @backend-team

# Portfolio service with security oversight
src/backend/portfolio-service/ @backend-team @security-team

# Education service with content team involvement
src/backend/education-service/ @backend-team @content-team

# ML model configurations and training
src/backend/ml-models/ @data-science-team @backend-team

# Database migrations requiring security review
src/backend/db/migrations/ @database-team @backend-team @security-team

# Infrastructure configurations
infrastructure/ @devops-team @security-team

# Security-specific infrastructure
infrastructure/security/ @security-team @devops-team

# CI/CD workflow configurations
.github/workflows/ @devops-team @security-team

# Application configuration files
config/ @devops-team @security-team
