Repository chriscarterus/bookman-ai-agent-vmx1sz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @frontend-team, @backend-team, @devops-team, @security-team, @data-science-team, @content-team, @database-team

.github/CODEOWNERS:

* @project-leads

# Frontend application ownership
src/web/ @frontend-team

# Backend service ownership with specific team requirements
src/backend/ @backend-team @devops-team

# Authentication service with mandatory security review
src/backend/auth-service/ @security-team @backend-team

# Security service with strict review requirements
src/backend/security-service/ @security-team @backend-team

# Market analysis and ML services
src/backend/market-analysis/ @data-science-team @backend-team

# Portfolio service with security oversight
src/backend/portfolio-service/ @backend-team @security-team

# Education service with content team involvement
src/backend/education-service/ @backend-team @content-team

# ML model configurations and training
src/backend/ml-models/ @data-science-team @backend-team

# Database migrations requiring security review
src/backend/db/migrations/ @database-team @backend-team @security-team

# Infrastructure configurations
infrastructure/ @devops-team @security-team

# Security-specific infrastructure
infrastructure/security/ @security-team @devops-team

# CI/CD workflow configurations
.github/workflows/ @devops-team @security-team

# Application configuration files
config/ @devops-team @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/market-analysis/src/ml/training.py
  src/backend/market-analysis/src/ml/training.py
Owners: @data-science-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/market-analysis/src/models/market_data.py
  src/backend/market-analysis/src/models/market_data.py
Owners: @data-science-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/market-analysis/src/services/data_fetcher.py
  src/backend/market-analysis/src/services/data_fetcher.py
Owners: @data-science-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/market-analysis/src/services/prediction.py
  src/backend/market-analysis/src/services/prediction.py
Owners: @data-science-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/market-analysis/tests/test_predictions.py
  src/backend/market-analysis/tests/test_predictions.py
Owners: @data-science-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/portfolio-service/Dockerfile
  src/backend/portfolio-service/Dockerfile
Owners: @backend-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/portfolio-service/go.mod
  src/backend/portfolio-service/go.mod
Owners: @backend-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/portfolio-service/go.sum
  src/backend/portfolio-service/go.sum
Owners: @backend-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/portfolio-service/cmd/main.go
  src/backend/portfolio-service/cmd/main.go
Owners: @backend-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/portfolio-service/internal/config/config.go
  src/backend/portfolio-service/internal/config/config.go
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/portfolio-service/internal/handlers/portfolio.go
  src/backend/portfolio-service/internal/handlers/portfolio.go
Owners: @backend-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/portfolio-service/internal/models/portfolio.go
  src/backend/portfolio-service/internal/models/portfolio.go
Owners: @backend-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/portfolio-service/internal/repository/postgres.go
  src/backend/portfolio-service/internal/repository/postgres.go
Owners: @backend-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/portfolio-service/internal/services/portfolio.go
  src/backend/portfolio-service/internal/services/portfolio.go
Owners: @backend-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/portfolio-service/tests/portfolio_test.go
  src/backend/portfolio-service/tests/portfolio_test.go
Owners: @backend-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/security-service/Cargo.toml
  src/backend/security-service/Cargo.toml
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/security-service/Dockerfile
  src/backend/security-service/Dockerfile
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/security-service/src/config.rs
  src/backend/security-service/src/config.rs
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/security-service/src/main.rs
  src/backend/security-service/src/main.rs
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/security-service/src/models/alert.rs
  src/backend/security-service/src/models/alert.rs
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/security-service/src/services/fraud_detection.rs
  src/backend/security-service/src/services/fraud_detection.rs
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/security-service/src/services/smart_contract_audit.rs
  src/backend/security-service/src/services/smart_contract_audit.rs
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/security-service/src/utils/blockchain.rs
  src/backend/security-service/src/utils/blockchain.rs
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/security-service/tests/fraud_detection_test.rs
  src/backend/security-service/tests/fraud_detection_test.rs
Owners: @security-team, @backend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/shared/proto/auth.proto
  src/backend/shared/proto/auth.proto
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/shared/proto/community.proto
  src/backend/shared/proto/community.proto
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/shared/proto/education.proto
  src/backend/shared/proto/education.proto
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/shared/proto/market.proto
  src/backend/shared/proto/market.proto
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/shared/proto/portfolio.proto
  src/backend/shared/proto/portfolio.proto
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/shared/proto/security.proto
  src/backend/shared/proto/security.proto
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/shared/schemas/course.schema.json
  src/backend/shared/schemas/course.schema.json
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/shared/schemas/market.schema.json
  src/backend/shared/schemas/market.schema.json
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/shared/schemas/portfolio.schema.json
  src/backend/shared/schemas/portfolio.schema.json
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/backend/shared/schemas/user.schema.json
  src/backend/shared/schemas/user.schema.json
Owners: @backend-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team

Add public-samples/bookman-ai-agent-vmx1sz/src/web/README.md
  src/web/README.md
Owners: @frontend-team
