Repository chriscarterus/bookman-ai-agent-vmx1sz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @frontend-team, @backend-team, @devops-team, @security-team, @data-science-team, @content-team, @database-team

.github/CODEOWNERS:

* @project-leads

# Frontend application ownership
src/web/ @frontend-team

# Backend service ownership with specific team requirements
src/backend/ @backend-team @devops-team

# Authentication service with mandatory security review
src/backend/auth-service/ @security-team @backend-team

# Security service with strict review requirements
src/backend/security-service/ @security-team @backend-team

# Market analysis and ML services
src/backend/market-analysis/ @data-science-team @backend-team

# Portfolio service with security oversight
src/backend/portfolio-service/ @backend-team @security-team

# Education service with content team involvement
src/backend/education-service/ @backend-team @content-team

# ML model configurations and training
src/backend/ml-models/ @data-science-team @backend-team

# Database migrations requiring security review
src/backend/db/migrations/ @database-team @backend-team @security-team

# Infrastructure configurations
infrastructure/ @devops-team @security-team

# Security-specific infrastructure
infrastructure/security/ @security-team @devops-team

# CI/CD workflow configurations
.github/workflows/ @devops-team @security-team

# Application configuration files
config/ @devops-team @security-team

Add public-samples/bookman-ai-agent-vmx1sz/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @project-leads

Add public-samples/bookman-ai-agent-vmx1sz/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-leads

Add public-samples/bookman-ai-agent-vmx1sz/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-leads

Add public-samples/bookman-ai-agent-vmx1sz/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/.github/workflows/deploy-prod.yml
  .github/workflows/deploy-prod.yml
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/.github/workflows/deploy-staging.yml
  .github/workflows/deploy-staging.yml
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/.github/workflows/frontend-ci.yml
  .github/workflows/frontend-ci.yml
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @project-leads

Add public-samples/bookman-ai-agent-vmx1sz/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @project-leads

Add public-samples/bookman-ai-agent-vmx1sz/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @project-leads

Add public-samples/bookman-ai-agent-vmx1sz/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-leads

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/logging/elasticsearch/elasticsearch.yml
  infrastructure/logging/elasticsearch/elasticsearch.yml
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/logging/fluentd/fluent.conf
  infrastructure/logging/fluentd/fluent.conf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/logging/kibana/kibana.yml
  infrastructure/logging/kibana/kibana.yml
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/monitoring/grafana/dashboards/api-gateway.json
  infrastructure/monitoring/grafana/dashboards/api-gateway.json
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/monitoring/grafana/dashboards/infrastructure.json
  infrastructure/monitoring/grafana/dashboards/infrastructure.json
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/monitoring/grafana/dashboards/services.json
  infrastructure/monitoring/grafana/dashboards/services.json
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/monitoring/jaeger/jaeger.yml
  infrastructure/monitoring/jaeger/jaeger.yml
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/monitoring/loki/loki.yml
  infrastructure/monitoring/loki/loki.yml
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/monitoring/prometheus/rules/alerts.yml
  infrastructure/monitoring/prometheus/rules/alerts.yml
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/monitoring/prometheus/rules/recording.yml
  infrastructure/monitoring/prometheus/rules/recording.yml
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/monitoring/tempo/tempo.yml
  infrastructure/monitoring/tempo/tempo.yml
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/security/cert-manager/certificates.yml
  infrastructure/security/cert-manager/certificates.yml
Owners: @security-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/security/cert-manager/cluster-issuer.yml
  infrastructure/security/cert-manager/cluster-issuer.yml
Owners: @security-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/security/vault/config.hcl
  infrastructure/security/vault/config.hcl
Owners: @security-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/security/vault/policies/services.hcl
  infrastructure/security/vault/policies/services.hcl
Owners: @security-team, @devops-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/aws/cloudfront.tf
  infrastructure/terraform/aws/cloudfront.tf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/aws/eks.tf
  infrastructure/terraform/aws/eks.tf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/aws/elasticache.tf
  infrastructure/terraform/aws/elasticache.tf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/aws/iam.tf
  infrastructure/terraform/aws/iam.tf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/aws/kms.tf
  infrastructure/terraform/aws/kms.tf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/aws/main.tf
  infrastructure/terraform/aws/main.tf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/aws/outputs.tf
  infrastructure/terraform/aws/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/aws/rds.tf
  infrastructure/terraform/aws/rds.tf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/aws/route53.tf
  infrastructure/terraform/aws/route53.tf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/aws/s3.tf
  infrastructure/terraform/aws/s3.tf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/aws/variables.tf
  infrastructure/terraform/aws/variables.tf
Owners: @devops-team, @security-team

Add public-samples/bookman-ai-agent-vmx1sz/infrastructure/terraform/aws/vpc.tf
  infrastructure/terraform/aws/vpc.tf
Owners: @devops-team, @security-team
